// $backgroundColor: white;
// $textColor: black;
// $textAlternativeColor: white;

// $navbarBackgroundColor: white;
// $navbarSelectColor: rgb(121, 196, 219);

// $logoTextColor: rgb(24, 99, 122);
// $borderColor: gray;



$backgroundColor: black;
$textColor: white;
$textAlternativeColor: lightblue; 

$navbarBackgroundColor: black;
$navbarSelectColor: rgb(121, 196, 219);

$logoTextColor: rgb(24, 99, 122);
$borderColor: gray;